.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.marker-txt {
  color:white;
  font-size: xx-small;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
  color:white;
}

.marker-img {
  width:20px;
  height: 20px;
}

.countryCases {
  color:white;
  background-color: white;
  width:20px;
  height:20px;
  border-radius: 10px;
}
