.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width:20px;
  height: 20px;
}

.countryCases {
  color:white;
  background-color: white;
  width:100px;
  height:100px;
  border-radius: 50px;
}
